h1 {
  color: green;
}

.price {
  font-size: 20px;
  color: lightgreen;
}

article {
  margin: 75px;
  padding: 15px;
  color: yellow;
  background-color: darkred;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

button {
  background-color: orange;
  cursor: pointer;
}

button:hover {
  background-color: gray;
}
